PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<database>?retryWrites=true&w=majority
DPO_API_URL=https://secure.3gdirectpay.com/API/v6/
DPO_PAYMENT_URL=https://secure.3gdirectpay.com/payv2.php
DPO_COMPANY_TOKEN=
DPO_SERVICE_TYPE=
DPO_PTL=15

PAYPAL_MODE=sandbox
PAYPAL_API_BASE=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

PAYSTACK_API_BASE=https://api.paystack.co
PAYSTACK_PUBLIC_KEY=pk_test_ad857144a003468eb08be7e662efee0166983236
PAYSTACK_SECRET_KEY=sk_test_e6f40347881ff3a0ce6f1266cb62716b49a57429

RENEWAL_PAYMENT_REDIRECT_URL=http://localhost:3000/login
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
